#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-box {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#results-box > div {
  display: flex;
}

#results-box > div > div {
  flex: 1;
}
.description {
  white-space: normal;
  word-break: break-word;
}
#unit-box {
  flex: 0 1 50%;
}
#value-box {
  flex: 0 1 50%;
}
